*{
    margin: 0;
    padding: 0;
}
/* Header */
.headsection {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background: rgba(20,20,20,0.4);

  padding: 15px 40px;
  border-radius: 50px;
  width: 90%;
  margin: 20px auto;
  position: relative;
  z-index: 10;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 120px;
}
.logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a:hover {
  color: orange;
}

/* Login */
.login {
  text-align: right;
}
.login a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background: rgba(255,255,255,0.15);
  padding: 8px 15px;
  border-radius: 30px;
  transition: background 0.3s ease;
}
.login a:hover {
  background: orange;
}
.login i {
  margin-right: 6px;
}
/* Section page */
body {
  background: #080b13;
  color: white;
  font-family: Arial;
}

/* Section Title */
.section-title {
  text-align: center;
  font-size: 42px;
  margin-top: 30px;
  color: orange;
}

.section-subtitle {
  text-align: center;
  opacity: 0.8;
}

/* Layout */
.contact-container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* LEFT BOX */
.info-box {
  width: 35%;
  background: #111722;
  padding: 25px;
  border-radius: 12px;
}

.info-card {
  background: #1b2331;
  margin: 12px 0;
  padding: 18px;
  border-radius: 8px;
}

.info-card .icon {
  font-size: 20px;
}

.offer {
  background: #4a1b00;
}

/* RIGHT BOX */
.form-box {
  width: 55%;
  background: #111722;
  padding: 25px;
  border-radius: 12px;
}

.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;   /* Increased spacing */
}

input,
textarea,
select {
  width: 325px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background: #1b2331;
  color: white;
  font-size: 15px;
}

select {
  cursor: pointer;
}


input,
textarea {
  width: 300px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #1b2331;
  color: white;
}

textarea {
  height: 150px;
  width: 650px;
  margin-top: 15px;
}

.send-btn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: orange;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  margin-top: 60px;
  padding: 40px 80px;
  background: #0b1018;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer h3 {
  color: orange;
  margin-bottom: 10px;
}

input {
  background: #1b2331;
}

.subscribe-btn {
  background: orange;
  border: none;
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}


.quick-links a{
  text-decoration: none;
   color: white;
}
.quick-links a:hover{
  color: orange;
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
